/* div{
    width: 1000px;
    height: 1000px;
    background-color: rgb(126, 211, 245);
} 
body{

}
.div{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 100px;
    top:30px;
    z-index:1;
}

.div2{
    background-color: black;
    width: 150px;
    height: 150px;
    position: absolute;
    left:150px;
    top:30px;
    z-index: 0;
}

.div3{
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    float: left;
    position: absolute;
    
}*/

.container-fluid{
    background-color: aqua;
}
.col-12{
    padding: 25px;
}